.signup-form {
    max-width: 800px;
    margin: 70px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .signup-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
  }
  
  .signup-form form {
    display: flex;
    flex-direction: column;
  }
  
  .signup-form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  
  .signup-form input,
  .signup-form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
  }
  
  .signup-form textarea {
    resize: none;
    height: 100px;
  }
  
  .signup-form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signup-form button:hover {
    background-color: #0056b3;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .signup-form {
      padding: 15px;
    }
  
    .signup-form h2 {
      font-size: 1.5rem;
    }
  
    .signup-form button {
      font-size: 0.9rem;
    }
  }
  
  @media (max-width: 480px) {
    .signup-form {
      padding: 30px;
     }
  
    .signup-form h2 {
      font-size: 1.2rem;
    }
  
    .signup-form input,
    .signup-form textarea {
      font-size: 0.9rem;
    }
  
    .signup-form button {
      font-size: 0.8rem;
    }
  }
  