

.gallery-container {
  max-width: 100%;
  
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-image: url('../assets/bgg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gallery-heading {
  font-size: 2.5rem;
 
  color: white;
  text-shadow: 8px 8px 14px rgba(0, 0, 0, 0.6);
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  perspective: 1000px;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.carousel-slide {
  position: absolute;
  transition: transform 0.6s ease, opacity 0.6s ease;
  opacity: 0;
  transform: translateX(100%) scale(0.8);
  will-change: transform, opacity;
}

.carousel-slide img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
}

.carousel-slide.active {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 2;
}

.carousel-slide.prev {
  transform: translateX(-100%) scale(0.8);
  opacity: 0.6;
}

.carousel-slide.next {
  transform: translateX(100%) scale(0.8);
  opacity: 0.6;
}
.carousel-description {
  margin-top: 10px;
  font-size: 1rem;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}


.slider-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.slider-button {
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -500px; 
  position: relative; 
  z-index: 10;
  border-radius: 30%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.slider-button:focus {
  outline: none;
}

.slider-button:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
